.movie-popup {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.644);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.movie-popup-image-container {
  height: 80%;
  width: 40%;
}

.movie-info-image-popup {
  object-fit: contain;
  height: 100%;
  border-radius: 10px;
  cursor: default;
}

@media screen and (max-width: 1256px) {
  .movie-popup-image-container {
    width: 80%;
  }
}

@media screen and (max-width: 630px) {
  .movie-popup-image-container {
    height: auto;
  }
}
